<h1>カートの中身</h1></br>
<p>これはid<%= @cart[:id] %>のカートです</p>
<% @cart_items.each do |c| %>
  <%= c.product.name %>
  <%= c.product.price %>円
  <%= c.qty %>個</br>
  <%= button_to 'カートから削除', cart_item_path(c.id), method: :delete,data: { confirm: '本当に削除しますか?' } %></br>
<% end %>
合計金額:<%= @sum %>円</br>
<%= link_to '[topへ戻る]', root_path %>