<%= link_to '[TOPへ戻る]', root_path %></br>
<%= link_to '新規追加', new_product_path %></br>

<% @products.each do |p| %>
  <%= p.name %>
  <%= p.price %>円
  <%= link_to '商品を削除', product_path(p.id), mesthod: :delete %></br>
  <%= form_tag cart_items_path(product_id: p.id), method: :post do %>
    <%= label_tag :qty, '数量' %>
    <%= number_field_tag :qty, 1, min: 1 %>
    <%= submit_tag 'カートに追加' %>
    </br>
   <% end %>
 <% end%>